<h1>Listing treatment_notes</h1>

<table>
  <thead>
    <tr>
      <th>Treatment</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treatment_notes.each do |treatment_note| %>
      <tr>
        <td><%= treatment_note.treatment_id %></td>
        <td><%= treatment_note.content %></td>
        <td><%= link_to 'Show', treatment_note %></td>
        <td><%= link_to 'Edit', edit_treatment_note_path(treatment_note) %></td>
        <td><%= link_to 'Destroy', treatment_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treatment note', new_treatment_note_path %>
