<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @image.item_id %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @image.treatment_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
